<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Convidados - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="max-width: 600px;">
        <h2>Lista de Confirmados</h2>
        <table border="1" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <thead>
                <tr>
                    <th style="text-align: center;">Nome</th>

<th style="text-align: center;">Acompanhantes</th>
<th style="text-align: center;">Ação</th>

            </thead>
            <tbody>
                {% for convidado in convidados %}
                <tr>
                    <td>{{ convidado.nome }}</td>
                    

<td>{{ convidado.acompanhantes }}</td>
<td>
    <a href="{{ url_for('excluir', id=convidado.id) }}" 
       style="color: #ff007f; text-decoration: none; font-weight: bold;"
       onclick="return confirm('Tem certeza que deseja excluir?')">
       [X]
    </a>
</td>


                {% endfor %}
            </tbody>
        </table>
        <p><strong>Total de pessoas confirmadas: {{ total }}</strong></p>
        <a href="/">Voltar ao formulário</a>
    </div>
</body>
</html>